.movies-list {
    display: flex;
    justify-content: center;
}
.movies-card {
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px;
}

.movies-card a {
    color: white;
}

.movies-card-overview {
    font-size: small;
    color: #9e9e9e;
}

.movies-card-pop {
    font-weight: bold;
}
